<div class="container search-results">
  <ul class="results-list">
    <li>
        <div>
          <span>Song:</span> ABC
        </div>
    </li>

     <li>
        <div>
          <span>Song:</span> ABC
        </div>
    </li>

     <li>
        <div>
          <span>Song:</span> ABC
        </div>
    </li>
  </ul>    
</div>