<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>Welcome, <%= current_user.username %>!</p>

<div class="container">
	

	<div>
		<div class="favorites-title">Favorite Songs</div>
		<div class="row favorites-list">
			<ul class="results-list">
				<% @songs.each do |song| %>
					<li><span>Songs: </span><%= song.title %></li>
				<% end %>

			    <!-- <li>
			        <div>
			          <span>Song:</span> ABC
			        </div>
			    </li>

			     <li>
			        <div>
			          <span>Song:</span> ABC
			        </div>
			    </li>

			     <li>
			        <div>
			          <span>Song:</span> ABC
			        </div>
			    </li> -->
			</ul> 
		</div>
	</div>


</div>
