<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>Welcome, <%= current_user.username %>!</p>

<div class="container">
	

	<div>
		<div class="favorites-title">Favorite Songs</div>
		<div class="row favorites-list">
			<ul class="results-list">
				<% @favorites.each do |favorite| %>
					<li><span><%= RapGenius::Song.find(favorite.song_id).artist %></li>
					<li><span><%= RapGenius::Song.find(favorite.song_id).description %></li>
				<% end %>
			</ul> 
		</div>
	</div>


</div>


