<div class="jumbotron">
  <div class="container">
    <h1>LYRICIST</h1>
    <p>Search me</p>


  <div class="col-lg-12 search-bar">
    <div class="input-group">
      <form action="javascript:void(0);">
        <input placeholder="Beyonce, Stanky Legg, Very superstitious" type="text" class="form-control search-query" aria-label="...">
        <div class="input-group-btn">
        <input class="btn btn-primary search-song" type="submit" placeholder="Search">
      </form>
      </div><!-- /btn-group -->
    </div><!-- /input-group --> 

    

  </div><!-- /.col-lg-12 -->
  </div>
</div>

<div class="search-results"></div>

<!-- handlebars -->
<script id="song-search-results-tpl" type="text/x-handlebars-template">
    <div class="container search-results">

      <ul class="results-list">
      {{#each data}}
            
        <li id="{{this.id}}">
          <button class="add-to-favorites" onclick="Lyricist.addFavorite({{this.id}})">Add to Favorites</button>
          <div>
            <span class="song-title-display">Song: {{this.title}}</span>
          </div>
          <div>
            <span>Artist:</span> {{this.artist.name}}
          </div>
          <div class="lyrics-{{this.id}}"></div>
        </li>

      {{/each}}
      </ul>    
    </div>
</script>

<!-- page specific JS -->

<script type="text/javascript">
    $('.search-song').click(function() {
    // take the value of what's typed in the search box
    var q = $('.search-query').val();
    // trim the white spaces front and back of the searched query
    var search_by = $('.search-by-options-btn').text().trim();

    // the search query has to be equal or longer than 3 characters to proceed
    if (q.length >= 3) {
      $.ajax({
        url: BASE_PATH + "/search",
         type: 'get',
        data: {
          q: q
        },
        success: function(response) {
          // get the contents of that searched element
          var source   = $("#song-search-results-tpl").html();
          // grabbing template from index-home when search results pop up and showing them on page
          var template = Handlebars.compile(source);
          // append the lyrics to the selected song
          $('.search-results').empty().append( template({data: response}) );
          // hit this function (can show and hide song lyrics)
          Lyricist.toggleSongLyricsOnClick();
        },
        error: function(response) {
          console.log("Nope...wrong");
        }
      });
    }
  });
</script>
