<h1>Home#index</h1>


<div class="jumbotron">
  <div class="container">
    <p>Search me</p>


  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control search-query" aria-label="...">
      <div class="input-group-btn">
        <button class="btn btn-default search-song" type="button">Search</button>
      </div><!-- /btn-group -->
    </div><!-- /input-group --> 

    

  </div><!-- /.col-lg-12 -->
  </div>
</div>

<div class="search-results"></div>

<!-- handlebar stuff -->

<script id="song-search-results-tpl" type="text/x-handlebars-template">
    <div class="container search-results">

      <ul class="results-list">
      {{#each data}}
        <li id="{{this.id}}">
          <div>
            <button class="add-to-favorites">Add to Favorites</button>
          </div>
          <div>
            <span class="song-title-display">Song: {{this.title}}</span>
          </div>
          <div>
            <span>Artist:</span> {{this.artist.name}}
          </div>
          <div class="lyrics-{{this.id}}"></div>
        </li>

      {{/each}}
      </ul>    
    </div>
</script>