<h1>Home#index</h1>


<div class="jumbotron">
  <div class="container">
    <p>Find me in app/views/home/index.html.erb</p>


     <div class="col-lg-6">
     <div class="input-group">
      <input type="text" class="form-control search-query" aria-label="...">
      <div class="input-group-btn">
        <button class="btn btn-default search-song" type="button">Search</button>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  </div>
</div>



