<h1>Songs#index</h1>

<div class="container">
	<div class="song-head">
		<h1>Stanky Leg <span class="glyphicon glyphicon-star-empty"></span></h1>

		<p>GS Boyz</p>
	</div>

	<div>
		Ahh, Southside is who I be!
		Say I got my G-Spot Boyz with me, ya dig?
		Prince Charming and my boy Slizz
		And we gotta new dance for y'all, ya dig?
		Ya dig?

		Bitch I'm wide
		Do da stanky legg, do da stanky legg, do da stanky legg
		When I hit da dance floor I be
		Doin' da stanky legg, do da stanky legg, do da stanky legg

		Bitch I'm wired up
		Do da stanky legg, do da stanky legg, do da stanky legg
		When I hit da dance floor I be
		Do da stanky legg, do da stanky legg, do da stanky legg



		Read more: GS Boyz - Stanky Leg Lyrics | MetroLyrics 
	</div>

</div>
