/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.results-list {
	list-style-type: none;
}

.results-list li {
	padding: 30px;
	background: red;
	margin-bottom: 10px;
}

.results-list li:hover {
	background: lightcoral;
	cursor: pointer;
}

.search-results {
	margin: 0 auto;
	text-align: center;
}

.favorites-title {
	text-align: center;
}

.favorites-list {
	margin-top: 20px;
	border-top: 2px solid black;
	padding-top: 20px;
}

.glyphicon-user {
	padding-right: 20px;
	padding-top: 15px;
}

.sign-up-button {
	margin-top: 8px;
margin-right: 10px;
}
}